html,body,h1{
    padding:0;
    margin: 0;
}

body>h1{
    text-align: center;
    font-size:20px;
    padding:20px 0;
    font-weight: bold;
    color:#c7254e;
}
.bs-example {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}
.bs-example>h4{
  margin: -30px 0 20px 30px;
  font-size: 10px;
  color: #0123dd;
  padding: 2px;
  text-align: center;
  overflow: hidden;
}
.bs-example:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "实例";
}
.zero-clipboard {
    position: relative;
    display: none;
}
.btn-clipboard {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 2px 8px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    background-color: #c7254e;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}
.bs-example+.highlight, .bs-example+.zero-clipboard+.highlight {
    /*margin: 15px -15px 15px;*/
    /*padding-top: 15px;*/
    border-width: 0 0 1px;
    border-radius: 0;
}
.highlight {
    margin-bottom: 14px;
    background-color: #333;
    border: 1px solid #eee;
    border-radius: 4px;
    display: block;
    overflow-x: auto;
    position: relative;
    padding: 0 0.6em;
    line-height: 1.1em;
    max-height: 560px;
}
.highlight pre {
    word-break: normal;
    background-color: transparent;
    line-height: 1.5em;
    border: 0;
    display: flex;
    overflow: initial;
}
.highlight .line {
    min-height: 1.5em;
    color: #fff;
}

pre code{
  white-space: inherit;
  margin-left: -60px;
}

pre .keyword, pre .attribute {
    color: #e96900;
}

pre .string{
    color: #42b983;
}

pre .tag{
    color: #2973b7;
}
pre .number, pre .literal {
    color: #ae81ff;
}
.pagelink{
  text-align: center;
}
.demo {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 10px;
    height: 180px;
    font-size: 1.2em;
    line-height: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: scroll;
    overflow-y: scroll;
}
.highdemo{
  height: 560px;
}
[v-cloak] {
    display: none;
}
@media (min-width: 768px){
    .bs-example {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border-color: #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        overflow: auto;
    }
    .zero-clipboard {
        display: block;
    }
    .bs-example+.zero-clipboard .btn-clipboard {
        top: -16px;
        border-top-right-radius: 0;
    }
    .bs-example+.highlight, .bs-example+.zero-clipboard+.highlight {
        margin-top: -16px;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}
.hello {
  text-align:center
}
.hello .link {
  padding:20px;
}
.hello h1,.hello h2 {
  font-weight: normal;
}

.hello ul {
  list-style-type: none;
  padding: 0;
}

.hello li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.example .items {
  text-align:center;
  border:1px solid #42b983;
  padding:10px;
  margin-bottom:20px;
  min-height:104px;
}
.example .name {
  font-size:16px;
  font-weight:bold;
  padding-top:10px;
}
#app,#table,#carousel,#popuphome,#form {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.container>h1{
  color: #c7254e;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}
.container ul.nav{
  margin-bottom: 30px;
  background: #eee;
  padding: 10px;
}
#navs li a.v-link-active{
  color: #fff;
  background-color: #428bca;
}
.slide-left-enter, .slide-right-leave-active {
  /*animation: bounce-in .2s;*/
  transition: all .2s ease;
}
.slide-left-leave-active, .slide-right-enter {
  /*animation: bounce-out .2s;*/
  transition: all .2s ease;
}

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
      url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

